
@font-face {
    font-family: inria-sans;
    src: url('src/inria-sans.otf');
}

@font-face {
    font-family: inria-sans-b;
    src: url('src/inria-sans-bold.otf');
}

body {
    var(mainColor): #788e9c;
}

body {
    margin: 0;
    overflow: hidden;
    font-family: inria-sans;
    color: white;
}


#titleBar {
    width: 100%;
    height: 25px;
    background-color: #676767;
}

#botomSection {
    flow: horizontal;
    width: 100%;
    height: calc(100vh - 25px);
}

#categoriMenu {
    width: 150px;
    height: 100%;
    background-color: var(mainColor);
}

#styleIcon {
    margin: 20px 1* 20px 1*;
    width: 60px;
    height: 60px;
}

button {
    width: 30px;
    height: 100%;
    display: block;
    background: none;
    border: none;
    padding: 0;
}

    button:hover {
        background-color: #6caeeb;
        border: 2px solid #4f82b2;
    }

    button:focus {
        background-color: #5b92c5;
        border: 2px solid #4f82b2;
    }

.tabButton.selected {
    background-color: #5b92c5;
    border: 2px solid #4f82b2;
}

.tabButton {
    height: 35px;
    width: 86%;
    margin: 5px 7%;
    flow: horizontal;
    background-color: #d9d9d9;
    border-radius: 10px;
    border: 2px solid #cacaca;
}

    .tabButton img {
        display: inline-block;
        height: 30px;
        margin: 1* 2px 1* 2px;
    }

body[size=narrow] .tabButton .CLabel {
    display: none;
    width: 0;
}
body[size=narrow] .tabButton {
    margin: 5px 1*;
    width: 35px;
}

body[size=narrow] #categoriMenu {
    width: 50px;
}

body[size=narrow] #styleIcon {
    margin: 10px 1* 10px 1*;
    width: 30px;
    height: 30px;
}



body[size=narrow] .tabArea {
    width: calc(100% - 50px);
}

body[size=narrow] #tabWithToolTip {
    width: calc(100% - 50px);
}



.CLabel {
    display: inline-block;
    margin: 1* 1* 1* 1*;
    font-family: inria-sans-b;
    font-size: 16px;
}


#bottomMenu {
    margin-top: 1*;
    padding-bottom: 5px;
}

#closeB {
    margin-left: 1*;
    display: inline-block;
    width: 25px;
    border: none;
}

    #closeB img {
        width: 100%;
        height: 100%;
        filter: invert(100%);
    }

    #closeB:hover, #closeB:focus {
        background-color: none;
    }



#titleName {
    display: inline-block;
    width: clac(100% - 20px);
    height: 100%;
    font-size: 15px;
    font-family: inria-sans-b;
    color: white;
    margin: 0 0 0 10px;
}





switch {
    margin-left: 1*;
    behavior: check;
    flow: text;
    width: 40px;
    height: 25px;
    overflow: hidden;
    border: 2px solid #d9d9d9;
    border-radius: 20px;
    background-image: url(src/switch.png);
    background-position: -15px 2px;
    background-size: 42px 25px;
    background-repeat: no-repeat;
    transition: background-position 0.02s linear 0s;
    opacity: 0.7;
}

    switch:checked {
        background-position: 0 2px;
        opacity: 1;
    }

    switch:focus {
        border: 2px solid #c9c9c9;
    }

.option {
    padding: 4px 4px;
    margin: 4px;
    display: inline-block;
    background-color: #aebcc3;
    border-radius: 15px;
    flow: horizontal;
    width: 220px;
    cursor: pointer;
}

.oLable {
    margin: 1* 0 1* 0;
    font-size: 15px;
    padding: 0px 8px;
}

    .oLable.oLong {
        font-size: 12px;
    }


@set simpleScroll {
    .slider {
        border: 1dip solid #848484;
        border-radius: 5px;
        background: #404040;
    }
    .slider:hover { border-left: 1px solid #848484;}
    .slider:active { background: #252525;}
    .base {  width: 8dip }
    .base:hover {  width: 4dip; }
}


.tabArea {
    margin-left: 1*;
    height: 100%;
    width: calc(100% - 150px);
    background-color: #d9d9d9;
}

#tabWithToolTip {
    width: calc(100% - 150px);
    background-color: #d9d9d9;
    height: 100%;
}

    #tabWithToolTip .tabArea {
        width: 100%;
        height: calc(100% - 150px);
    }

#settingsArea {
    overflow-y: auto;
    vertical-scrollbar: simpleScroll;
    padding: 0;
    height: 100%;
    flow: horizontal-flow;
    horizontal-align: center;
}

#interfaceTab {
    overflow-y: auto;
    vertical-scrollbar: simpleScroll;
    padding-bottom:20px;
}

.scrolableArea {
    overflow-y: auto;
    vertical-scrollbar: simpleScroll;
}

.toolTip {
    margin: 20px 10px;
    height: 120px;
    width: calc(100% - 20px);
    background-color: #aebcc3;
    border-radius: 15px;
    color: white;
}

    .toolTip .header {
        width: 100%;
        text-align: center;
        padding: 4px 0;
        font-size: 18px;
    }

    .toolTip .tip {
        width: 100%;
        text-align: center;
        display: inline-block;
        font-size: 14px;
    }

#uptudateBanner {
    flow: horizontal;
    min-width: 270px;
    background-color: #e09136;
    border-radius: 15px;
    white-space: nowrap;
    margin: 15px 1*;
    font-size: 20px;
    color: white;
    border: 2px solid #ffb13d;
    cursor:pointer;
}

    #uptudateBanner .version {
        margin: 1* 20px 1* 1*;
    }

    #uptudateBanner .msg {
        margin: 1*;
    }

    #uptudateBanner img {
        filter: invert(1);
    }



#versionTitle {
    flow: horizontal;
    color: white;
    background-color: #aebcc3;
    margin: 0 20px;
    width: calc(100% - 40px);
    border-radius: 15px;
    font-size: 20px;
}

    #versionTitle .version {
        margin: 0 1* 0 25px;
    }

    #versionTitle .type {
        margin: 0 25px 0 1*;
    }

#versionLog {
    background-color: #aebcc3;
    border-radius: 10px;
    font-size: 16px;
    margin: 5px 30px 20px 30px;
    width: calc(100% - 80px);
    padding: 5px 10px;
}

#nonActualBanner {
    background-color: #942f3b;
    border-radius: 10px;
    font-size: 16px;
    margin: 5px 20px 10px 20px;
    width: calc(100% - 60px);
    padding: 5px 10px;
}
#nonConectedBanner {
    background-color: #e09136;
    border-radius: 10px;
    font-size: 16px;
    margin: 5px 20px 10px 20px;
    width: calc(100% - 60px);
    padding: 5px 10px;
}


textarea:focus, input:focus {
    outline: none;
}

.inputElement {
    background-color: #aebcc3;
    color: white;
    border: 2px solid #7b99a9;
    border-radius: 10px;
    padding: 2px;
    overflow-y: hidden;
    font-size: 16px;
    font-weight: bold;
}

#TopicName {
    margin: 25px 1* 0 1*;
    width: calc(100% - 50px);
}

#TopicContent {
    margin: 5px 35px;
    width: calc(100% - 70px);
    height: calc(100% - 200px);
    text-align: left;
}

#TopicSendButton {
    margin: 1* 1* 20px 1*;
    background-color: #aebcc3;
    color: white;
    border-radius: 10px;
    padding: 2px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    width: 100px;
}

#TopicImage {
    margin: 2px 1*;
    width: 150px;
    background-color: #aebcc3;
    color: white;
    border-radius: 10px;
    padding: 4px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
}

#Email {
    margin: 2px 1*;
    width: calc(100% - 50px);
}

.feature {
    background-color: #94a9b5;
    border-radius: 10px;
    flow: horizontal;
    width: calc(100% - 20px);
    color: white;
    font-size: 16px;
    margin: 5px 1*;
}

    .feature .name {
        background-color: #678ba0;
        border-radius: 12px;
        padding: 1* 5px;
        width: 140px;
        text-align: center;
    }

    .feature .value {
        margin: 1* 1*;
    }


.var {
    background-color: #94a9b5;
    border-radius: 10px;
    flow: horizontal;
    width: calc(100% - 20px);
    color: white;
    font-size: 16px;
    margin: 5px 1*;
}

    .var .name {
        background-color: #678ba0;
        border-radius: 12px;
        padding: 1* 5px;
        width: 80px;
        text-align: center;
    }

    .var .inputs {
        background-color: #678ba0;
        border-radius: 12px;
        padding: 1* 2px;
        margin: 0 2px;
        width: 15px;
        text-align: center;
    }

    .var .value {
        margin: 1* 1*;
    }

    .var .destroy {
        background-color: #678ba0;
        border-radius: 12px;
        padding: 2px 4px;
        width: 20px;
    }

#varAddBTN , #varLoadBTN {
    padding: 10px;
    background-color: #678ba0;
    width: 40px;
    border-radius: 20px;
    margin: 20px 1*;
}




#pickerSelection {
    width: 100%;
    height: calc(100vh - 25px);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 25px;
    left: 0;
    display: none;
    z-index: 50;
}

.colorpicker { /* element in settings box that open color picker */
    margin-left: 1*;
    width: 30px;
    height: 25px;
    border: 2px solid #d9d9d9;
    border-radius: 10px;
}

.numInput {
    margin-left: 1*;
    border: 2px solid #d9d9d9;
    border-radius: 10px;
}

#ColorPicker {
    margin: 1*;
    display: flex;
    backdrop-filter: none;
    background: #788e9c;
    border-radius: 20px;
    width: 300px;
    height: 200px;
    padding: 15px;
}

    #ColorPicker .rSide {
        position: relative;
        display: inline-block;
        border-radius: 6px;
        width: 150px;
        height: 150px;
        flow: vertical;
    }


.gradientPicker {
    position: relative;
    display: inline-block;
    border-radius: 6px;
    width: 150px;
    height: 150px;
}

    .gradientPicker * {
        top: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 6px;
    }

#sg { /*second layer*/
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 1) 100%);
}

#fg { /*first layer*/
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%,rgba(255, 255, 255, 0) 100%);
}

#bcg { /*background color layer*/
    background-color: hsl(180,100,50);
}

#hueSlider {
    border: 2px solid #505f69;
    padding: 0;
    margin: 7px 0;
    height: 15px;
    width: 300px;
    border-radius: 6px;
    background: linear-gradient(0deg, rgba(255, 0, 0, 1) 0%, rgba(255, 255, 0, 1) 17%, rgba(0, 255, 0, 1) 33%,rgba(0, 255, 255, 1) 50%,rgba(0, 0, 255, 1) 67%,,rgba(255, 0, 255, 1) 83%,rgba(255, 0, 0, 1) 100%);
}

    #hueSlider > button {
        width: 5px;
        height: 14px;
        background: transparent;
        outline: 1px solid black;
        border: 3px solid white;
    }

#transparencitySlider {
    padding: 0;
    margin: 2px 0;
    height: 10px;
    border-radius: 6px;
    width: 128px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    border: 2px solid #505f69;
}

    #transparencitySlider > button {
        width: 5px;
        height: 14px;
        background: transparent;
        outline: 1px solid black;
        border: 3px solid white;
    }

#lss { /* left side of picker*/
    flow: vertical-wrap;
    height: 150px;
}

#rss { /* right side of picker*/
    margin: 0 20px 0 0;
}

#colorTInput { /* show text*/
    width: 130px;
    height: 40px;
    margin: 5px 0;
    padding: 0;
    height: 20px;
    border-radius: 6px;
    background-color: #d9d9d9;
    text-align: center;
}

.colorPrewContainer {
    position: relative;
    width: 70px;
    margin: 15px 1*;
    height: 70px;
}

#colorPrew {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    background-color: hsl(180,100,50);
}

.colorPrewBackground {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 7px;
    background-image: url(src/transpa.png);
}

#colorTop {
    display: inline-block;
    flow: horizontal;
}

#btnBottom {
    height: 30px;
    flow: horizontal;
}

    #btnBottom button {
        width: 50px;
        height: 20px;
        margin: 0 1*;
        border-radius: 6px;
        padding: 0px 5px;
        background-color: #d9d9d9;
        border: 2px solid #adacac;
    }

        #btnBottom button:hover {
            border: 2px solid #9ac2e3;
        }

#dragDot {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    border: solid black 1px;
}

.numInput {
    background-color: #D9D9D9;
    height: 25px;
    
}

    .numInput input > button {
        display: none;
        background-color: yellow;
        height: 25px;
    }

    .numInput input {
        text-align: center;
        display: inline;
        padding: 0;
        margin: 0;
        border: 0;
    }

        .numInput input > caption {
            border-radius: 5px;
            padding: 0;
            color: white;
            font-size: 18px;
            border: 0;
            width: 40px;
            height: 26px;
            background-color: #2B6CA8;
            position: relative;
            bottom: 5px;
            transition: background-color 0.5s;
            
        }

        .numInput input:focus > caption {
            background-color: #24598a;
        }




    .rUpB img, .rDwnB img { /*not work*/
        height: 15px;
        padding: 5px 0;
        filter: invert(0);
        /*background-color: rgba(255, 0, 0, 1);*/
    }


.categoryButton.selected {
    background-color: #5b92c5;
}


.categoryButton {
    background-color: #2B6CA8;
    padding: 2px 4px;
    margin: 4px 1*;
    border-radius: 5px;
    height: 15px;
    width:20%;
    border: 2px solid #2B6CA8;
    font-size: 15px;
    color : white;
}

.styleType {
    padding: 4px 4px;
    margin: 4px 1*;
    display: inline-block;
    background-color: #aebcc3;
    border-radius: 15px;
    flow: horizontal;
    width: 95%;
    cursor: pointer;
}

.updateButton {
    background-color: #2B6CA8;
    padding: 2px 0;
    margin: 0 1*;
    border-radius: 5px;
    height: 15px;
    width: 28%;
    display:flex;
    border: 2px solid #2B6CA8;
    font-size: 15px;
    color: white;
}

    .updateButton.selected {
        background-color: #205280;
    }